<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GWAS</title>
</head>
<body>
  <hr>
  <h1 style="text-align: center;">Welcome to explore a demo project.</h1>
  <hr>
  <br>
  <p>Just to start, click on the button below. It will take you to a page where everything begins. Follow the given instructions.</p>
  <form>
    <button onclick="window.location.href='pageTwo.html'">Go to Page Two</button>
  </form>
</body>
</html>
